.main {
    display: grid;
    align-content: center;
    width: 100%;
    font-size: 20px;
    grid-template-rows: 60px auto;
}

.red {
    color: red;
}

.nav {
    display: grid;
    background: LightSkyblue;
    grid-template-columns: auto 100px 100px;
}

.align-center {
    align-self: center;
}

.nav-element {
    padding-left: 35px;
}

.main-content-title {
    justify-self: center;
}