.week-grid {
    display: grid;
    justify-self: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-column-gap: 20px;
}

.day-grid {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    background-color: antiquewhite;
}

.time-slot-hour-grid {
    display: grid;
    grid-template-columns: 30px auto;
    font-size: 12px;
    color: #555555;
    position: relative;
    border-bottom: solid black 0.5px;
}

.blue-time {
    background-color: lightskyblue;
    justify-content: center;
}

.add-movie-grid {
    display: grid;
    grid-template-columns: 140px 30px;
    height: 30px;
}

/* Add movie drop-down for scheduler */
.add-movie-dropdown {
    z-index: 1;
    position: relative;
    display: none;
    width: auto;
    max-height: 200px;
    background-color: #aaaaaa;
    overflow-y: auto;
}

.drop-down-item {
    font-size: 13px;
    display: grid;
    grid-template-columns: auto 20px;
}

.drop-down-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.overlay-scheduled-movie {
    background-color: lightseagreen;
    border-radius: 5px;
    border: solid black 1px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    color: black;
}