.watch-today-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    align-items: center;
}

.movie-image {
    width: 250px;
}

.movie-title {
    line-break: auto;
    width: 250px;
    height: 30px;
}

/* watch today modal*/

.watch-today-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.watch-today-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    font-size: 12px;
    display: grid;
    grid-row-gap: 10px;
}

.field-description {
    font-weight: bold;
}

.details-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

hr {
    width: 95%;
}

.available-screens-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    border-radius: 5px;
    border: #aaaaaa solid 1px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.available-hours-grid {
    display: grid;
    grid-template-rows: 25px 25px 25px 25px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.watch-today-screen {
    height: 30px;
    width: 60px;
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    border-radius: 5px;
    border: #555555 solid 1px;
}

.watch-today-hours {
    background-color: lightcyan;
    cursor: pointer;
}

.watch-today-hours[selected] {
    background-color: greenyellow;
}

.total-grid {
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 15px;
}

.price-grid {
    display: grid;
    grid-template-columns: 15px auto;
    font-size: large;
}

.seats {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px;
    grid-gap: 5px;
    line-height: 20px;
}

.seat {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: #888888 solid 1px;
    cursor: pointer;
}

.seat.free {
    background-color: #82ff7f;
}

.seat.free:hover {
    border: dodgerblue dashed 1px;
}

.seat.selected {
    background-color: goldenrod;
}

.seat.selected:hover {
    border: indianred dashed 1px;
}

.seat.sold {
    background-color: darkred;
    color: #f1f1f1;
    cursor: default;
}

.seats-section {
    width: 145px;
    margin: auto;
    text-align: center;
}

hr.screen {
    width: 100px;
}

#seats-selection-section {
    text-align: center;
    display: grid;
    grid-gap: 10px;
}

.section-title {
    font-weight: bold;
}

#watch-today-info {
    /*text-align: center;*/
}

.confirmed-message {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 90%;
    background-color: #5fbc4d;
    border: #888888 solid 1px;
    border-radius: 10px;
    margin: auto;
}

#movie-filters {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    font-size: 12px;
    width: 700px;
    margin: auto;
}